flask
faiss-cpu
numpy
sentence-transformers
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
google-cloud-storage
pymupdf
gunicorn
psutil
python-docx
python-magic
pandas
openpyxl
python-dotenv
gspread
oauth2client
tqdm
filetype
waitress==2.1.2
protobuf==4.25.3  # Avoids incompat issues with newer google packages
setuptools>=65.0.0

